div#relcontent:has(.none-login-style) {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

svg.none-login-style {
    transform: scale(5);
}

.none-login-style~h1 {
    color: white;
    background: #0005;
    display: block;
    z-index: 22;
    backdrop-filter: blur(2px) brightness(1.5);
}

.none-login-style~span {
    position: relative;
    top: 2rem;
    color: white;
    font-weight: 100;
}

.none-login-style~span button {
    background: white;
    border: navajowhite;
    padding: .1rem .3rem;
    font-size: .95rem;
    border: 3px solid black;
    box-shadow: 0 0 1rem #fff2;
}


div#relcontent:not(:has(.none-login-style)) {
    height: 100vh;
    width: 100%;
    display:flex;
}
div#relcontent:not(:has(.none-login-style))    div#sidebar {
        width: min(15%,175px);
        background: #010106;
        height: 100%;
        display: block;
    }
    
div#relcontent:not(:has(.none-login-style))    div#sidebar a#kside {
        color: white;
        text-decoration: none;
        display: block;
        padding: 1.2rem .5rem;
        text-align: center;
        border-bottom: 1px solid #fff2;
        font-weight: 100;
        transition: background .15s;
    }
    
div#relcontent:not(:has(.none-login-style))    div#sidebar a#kside:hover {
    background: #fff2;
}
h1 {
    color: white;
}

img#accountStyle {
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    top: -3rem;
    left: calc(50% - 2rem);
    width: 4rem;
}

h1:has(+img#accountStyle) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    z-index: 114514;
    position: relative;
    background: #0002;
    backdrop-filter: blur(10px);
    transition: top .5s, background .5s,opacity .5s;
    top: 0;
    opacity: .75;
}

div#content {
    width: 100%;
}

h1:has(+img#accountStyle):hover, h1:has(+img#accountStyle:hover) {
    top: 4rem;
    background: black;
    opacity: 1;
}

h1:has(+img#accountStyle)::before {
    content: '欢迎您，';
}

:lang(en) h1:has(+img#accountStyle)::before {
    content: 'Welcome to ari-backrooms，';
}

img#accountStyle {
    filter: blur(10px);
    transition: all .5s;
}

img#accountStyle:hover,h1:has(+img#accountStyle):hover+img#accountStyle {
    filter: none;
}

h1:has(+img#accountStyle):after {
    content: '';
    background: white;
    height: 1px;
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

img#accountStyle {
    margin-bottom: 2rem;
}
